#bottomApp {
  color: white;
  background-image: url('../img/bottomApp.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/**
 *  Link
 */

#link {
  padding: 40px 0px;
  background-color: rgba(105, 186, 177, 0.8);
}

#link div {
  vertical-align: top;
}

#link .container > div:nth-child(1) {
  text-align: center;
}

#link .container > div:nth-child(1) iframe {
  width: 620px;
  height: 348.75px;
}

#link .container > div:nth-child(1) .next-block {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  bottom: 20%;
  right: 0;
  padding: 15px 60px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);

  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

#link .container > div:nth-child(1):hover .next-block {
  opacity: 1;
}


#link .container > div:nth-child(2) {
  padding-left: 40px;
}

#link div h1 {
  margin-top: 0px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

#link ul {
  margin-top: 60px;
  padding: 0px;
  font-size: 1.4em;
}

#link li {
  margin-top: 20px;
}

#link li a {
  display: inline-block;
}

#link li a > .bottom-line {
  width: 0;
  height: 1px;
  background-color: white;

  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -ms-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

#link li:hover a > .bottom-line {
  width: 120%;
}


/**
 *  Work
 */
#work {
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: rgba(203, 233, 228, 0.8);
}

#work header {
  margin: 0px 0px;
}

#work header h1 {
  color: rgba(74, 74, 74, 1);
}

#work .learn-more {
  text-align: right;
}

/**
 *  Contact
 */
#contact {
  padding: 20px 0px;
  background-color: rgba(58, 128, 123, 0.8);
}

#contact .info .info-title {
  margin: 15px 0px;
}

#contact .info input {
  width: 90%;
  font-size: 1.5em;
}

#contact div.row:nth-of-type(2) {
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: right;
}

/*************************/
/*      Responsive       */
/*************************/

/* 768px - 959px */
@media only screen and (max-width: 959px) {
  /**
   *  Link
   */
  #link .container > div:nth-child(1) iframe {
    width: 492px;
    height: 276.75px;
  }
}

/* 480px - 767px */
@media only screen and (max-width: 767px) {
  /**
   *  Link
   */
  #link div h1 {
    margin-top: inherit;
  }

  #link .container > div:nth-child(1) iframe {
    width: 460px;
    height: 258.75px;
  }

  #link .container > div:nth-child(2) {
    text-align: center;
    margin-top: 40px;
    padding-left: 0px;
  }

  #link ul {
    margin-top: 20px;
  }

  #link li:hover a > .bottom-line {
    width: 100%;
  }

  /**
   *  Contact
   */
  #contact .info {
    margin: 0 auto;
  }

  #contact .info input {
    width: 100%;
    font-size: 2em;
  }

  #contact div.row:nth-of-type(2) {
    text-align: center;
  }
}

/* 320px - 479px */
@media only screen and (max-width: 479px) {
  #link .container > div:nth-child(1) iframe {
    width: 300px;
    height: 168.75px;
  }
}
