#bottomApp {
  color: white;
  background-image: url('../img/bottomApp.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/**
 *  Link
 */

#link {
  padding: 40px 0px;
  background-color: rgba(105, 186, 177, 0.8);
}

#link div {
  vertical-align: top;
}

#link .container > div:nth-child(1) {
  text-align: center;
}

#link .container > div:nth-child(2) {
  padding-left: 40px;
}

#link .container div h1 {
  font-size: 1.8em;
}

#link .container ul {
  padding: 0px;
  font-size: 1.4em;
  line-height: 2;
}

/**
 *  Work
 */

/**
 *  Contact
 */
#contact {
  padding: 20px 0px;
  background-color: rgba(58, 128, 123, 0.8);
}

#contact .info .info-title {
  margin: 15px 0px;
}

#contact .info input {
  width: 90%;
  font-size: 1.5em;
}

#contact div.row:nth-of-type(2) {
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: right;
}

/*************************/
/*      Responsive       */
/*************************/

/* 768px - 959px */
@media only screen and (max-width: 959px) {

}

/* 480px - 767px */
@media only screen and (max-width: 767px) {
  /**
   *  Link
   */
  #link .container > div:nth-child(2) {
    text-align: center;
    padding-left: 0px;
  }

  /**
   *  Contact
   */
  #contact .info {
    margin: 0 auto;
  }

  #contact .info input {
    width: 100%;
    font-size: 2em;
  }

  #contact div.row:nth-of-type(2) {
    text-align: center;
  }
}

/* 320px - 479px */
@media only screen and (max-width: 479px) {

}
