#intro {
  padding-bottom: 120px;
  color: white;
  background-color: rgba(41, 163, 144, 0.25);
}

#intro > .full-container {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgba(98, 183, 173, 1);
}

#intro .content {
  text-align: center;
}

#intro .content::after {
  position: absolute;
  display: block;
  content: url('../img/device.png');
  top: -60px;
  right: -220px;

  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  -ms-transform: scale(0.75);
  -o-transform: scale(0.75);
  transform: scale(0.75);
}

#intro .download a {
  position: relative;
  display: inline-block;
  width: 180px;
  margin: 0px 10px;
}


/*************************/
/*      Responsive       */
/*************************/

/* 768px - 959px */
@media only screen and (max-width: 959px) {
  #intro .content::after {
    right: -220px;
  }
}

/* 480px - 767px */
@media only screen and (max-width: 767px) {
  #intro {
    height: 820px;
    padding-bottom: 60px;
  }
  #intro > .full-container {
    padding-top: 20px;
    padding-bottom: 0px;
  }
  #intro > .full-container {
    padding-bottom: 0px;
  }
  #intro .content::after {
    position: relative;
    top: -40px;
    right: 0;
  }
}

/* 320px - 479px */
@media only screen and (max-width: 479px) {
  #intro {
    height: 600px;
  }

  #intro .download a {
    width: 120px;
  }

  #intro .content::after {
    top: -120px;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
}
